<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/stylesheet.css">
        <title>Login</title>
    </head>
    <body style="
    background-color: #092595;
    background-image: linear-gradient(to right, #092595, rgb(0, 119, 255));">
        <div class="wap">
            <h1>Login</h1>
            <form method="POST">
                <br>
                <input placeholder="ENTER ID" name="id" required><br>
                <input type="password" placeholder="ENTER PASSWORD" name="pass" required><br>
                <a href="Login.html">Back</a>
                <input type="submit">
            </form>
        </div>
    </body>
</html>