<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Manager Login</title>
</head>
<body>
    <script src="script.js"></script>
    <div class="head">
        <h style="padding-left: 6%;">Decide</h>
    </div>
    <div class="container">
    <div class="center">
        <button style="padding-left: 80px;padding-right: 75px; " class="bu1" onclick="window.location.href = 'teams.html';"> New Game </button><br><br>
        <button class="bu" onclick="window.location.href = 'contest.html';">Continue Game</button>
    </div>
</body>
</html>