<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game Details</title>
        <link rel="stylesheet" href="../static/teams.css">
    </head>
    <body style="background-color: #092595;
        background-image: linear-gradient(to right, #092595, rgb(0, 119, 255));">
        <div class="wap">
            <h1>Game Details</h1>
            <form class="form1" method="POST">
                <div class="next">
                    <div class="input"> 
                        <input type="number" placeholder="NUMBER OF TEAMS" required id="no" min="3" max="10" name="no">
                        <button id="btns"  onclick="addTags()">Next</button></div>
                    <input type="password" name="gamePassword" placeholder="ENTER GAME PASSWORD" required id="GamePassword">
                    <input type="password" name ="conformGamepassword" placeholder="CONFORM GAME PASSWORD" required id="conformGamePassword">
                    <input type="password" name="managerPassword" placeholder="ENTER MANAGER PASSWORD" required id="managerPassword">
                    <input type="password" name="comformManagerpassword" placeholder="CONFORM MANAGER PASSWORD" required id="conformManagerPassword">
                    <input type="number" name="budget" id="budget" placeholder="ENTER BUDGET (MAX 100C)" required>
                </div>
                <div id="newid">
                </div><br>
                <div id="teamsName">
                </div>
                <div id="n"></div>
            </form>
        </div>
        <script src="../static/teams.js"></script>
    </body>
</html>